html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END OF RESET -- END OF RESET -- END OF RESET -- END OF RESET */

button {
  width: 4em;
  border: none;
  border-radius: 100px;
  font-size: 1em;
}
/* UTILITY */

body {
  background-color: #141414;
  color: white;
  font-family: "Lato", sans-serif;
}

.navbar {
  position: fixed;
  right: 0;
  left: 0;

  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  height: 10vh;
  padding: 0 2vw 0 2vw;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.navbar .logo {
  flex: 0 1 auto;
}

.navbar .main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
  /* border: 1px solid white; */
}

.navbar .main-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
}

.navbar .main-menu ul li {
  margin: 0 1em 0 1em;
  text-align: center;
  flex: 0 1 auto;
  /* border: 1px solid white; */
}

.navbar .main-menu ul li:first-child {
  margin-left: 0;
}

.navbar .main-menu .language-switch {
  margin-left: 1em;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: nowrap;
  /* border: 1px solid white; */
}

.navbar .main-menu .language-switch button {
  color: #ffffff;
  cursor: pointer;
}

.navbar .main-menu .language-switch .idn {
  margin-right: 0.5em;
}
.navbar .main-menu .language-switch .en {
  margin-left: 0.5em;
}
/* END OF NAVBAR -- END OF NAVBAR -- END OF NAVBAR  */

.home {
  position: relative;
  top: 10vh;
  height: 90vh;
  background: url("./images/Home.jpg") no-repeat center 80% / cover;
}

.breadcrumbs {
  position: fixed;
  width: 1vw;
  height: 70vh;
  top: 20vh;
  left: 2vw;
  z-index: 3;
  color: #878787;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
  /* border: 1px solid white; */
}

.breadcrumbs li {
  transform: rotate(-90deg);
  /* border: 1px solid white; */
}

.home-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2vw 0 2vw;
  position: absolute;
  top: 10vh;
  height: 90vh;
  background: linear-gradient(
    90.08deg,
    rgba(0, 0, 0, 0.7) 6.86%,
    rgba(0, 0, 0, 0.51) 35.69%,
    rgba(0, 0, 0, 0.3) 66.26%,
    rgba(0, 0, 0, 0.2) 87.88%
  );
  mix-blend-mode: normal;
  z-index: 2;
  /* border: 1px white solid; */
}

.active {
  color: #ececec;
}

/* For Aligning Companion */
/* .home-overlay div {
  border: 1px solid white;
} */

.home-overlay .welcome-text {
  margin-left: 7.08vw;
  flex: 0 1 30vw;
}

.home-overlay .welcome-text h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.home-overlay .welcome-text h3 {
  font-size: 0.8em;
  margin-left: 0.15em;
}

.home-overlay .welcome-text p {
  margin-bottom: 1em;
  line-height: 1.15;
  margin-left: 0.15em;
}

.home-overlay button {
  font-family: "Source Sans Pro", sans-serif;
  background-color: red;
  color: #ffffff;
  height: 1.5em;
  width: 7.5em;
  margin-left: 0.08em;
  padding-bottom: 1.5em;
  cursor: pointer;
}

.home-overlay button:hover {
  background-color: rgb(201, 0, 0);
}

.home-overlay .welcome-logo {
  flex: 1 1 auto;
  max-width: 25vw;
  height: auto;
  margin-left: 21.8%;
  /* border: white 1px solid; */
}

.page-2 {
  height: 100vh;
}

/* MEDIA QUERIES */

@media (min-width: 480px) and (max-width: 640px) {
  /* CSS */
  .navbar {
    flex-direction: column;
  }

  .home-overlay {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .breadcrumbs {
    flex-direction: row;

    width: 70%;
    height: 2vh;
    left: 50%;
    transform: translate(-50%);
  }

  .breadcrumbs li {
    border: 1px white solid;
    transform: rotate(0);
  }

  .home-overlay .welcome-text {
    margin: 0;
    flex: 0 1 auto;
  }

  .home-overlay .welcome-logo {
    min-width: 50vw;
    margin: 0;
    flex: 0 1 auto;
    order: -1;
  }
}
